

body {
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin:  50px auto 50px auto;

  
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 0;
}

.displayed-track {
    margin: 10px;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}
